= simple_form_for(new_user, method: 'get', url: user_google_oauth2_omniauth_authorize_path) do |f|
  %p{style: 'text-align: center; margin-bottom: -10px;'}
    = t('auth.rutan_login_with_google')

  .actions
    = f.button :button, t('auth.rutan_register_or_login'), type: :submit, class: 'button button-alternative'

  %p.hint.subtle-hint=t('auth.agreement_html', rules_path: about_more_path, terms_path: terms_path)
